/* Estilos globales */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
}

/* Contenedor principal */
.container-fluid.p-5,
.container.my-5 {
    flex: 1;
}

/* Estilos para la barra de navegación */
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
    color: #12643e;
}

/* Estilos para el banner principal */
.container-fluid.p-5 {
    background: linear-gradient(45deg, #198754, #12643e);
    background-image: url("https://images.unsplash.com/photo-1723891010863-b7da7b90ed46?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container-fluid h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

.container-fluid p {
    font-size: 1.25rem;
    margin-top: 0.5rem;
}

/* Estilos para las tarjetas de productos */
.card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-weight: 600;
    font-size: 1.25rem;
}

.card-text {
    color: #6c757d;
}

.btn-success {
    background-color: #198754;
    border: none;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #13663f;
}

/* Estilos para el pie de página */
footer {
    color: #fff;
}

footer h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #10c64d;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 0.5rem;
}

footer ul li a {
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer .p-3 {
    background-color: #12643e;
    font-size: 0.875rem;
    color: #dde0e4;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .container-fluid h1 {
        font-size: 2rem;
    }

    .container-fluid p {
        font-size: 1rem;
    }
}